/* =========================================================================
   9. GALLERY SYSTEM
   ========================================================================= */
.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.gallery img{
    width:100%;
    height:250px;
    object-fit:cover;
    border-radius:20px;
    transition:.5s;
    box-shadow:0 10px 20px rgba(0,0,0,.3);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.gallery img:hover{
    transform:scale(1.05);
    border-color: #d97706;
}